{% extends "layout.html" %}{% block title %} Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}


<section id="relations" class="container">
    <div class="site-content">
        <div class="posts">
            <div  class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphOne" class="post-image">
                    <div>
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14, 2019</span>
                        <span>2 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphTwo" class="post-image">
                    <div>
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 16, 2019</span>
                        <span>7 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphThree" class="post-image">
                    <div>
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 19, 2019</span>
                        <span>5 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <hr>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphFour" class="post-image">
                    <div>
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21, 2019</span>
                        <span>12 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphFive" class="post-image">
                    <div>
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21, 2019</span>
                        <span>12 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphSix" class="post-image">
                    <div>
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21, 2019</span>
                        <span>12 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphSeven" class="post-image">
                    <div>
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21, 2019</span>
                        <span>12 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                <div id="graphEight" class="post-image">
                    <div>
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Admin</span>
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21, 2019</span>
                        <span>12 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="#">Here's a relation between lorem and ipsum</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae
                        adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a
                        nobis, voluptate, numquam architecto fugit. Eligendi quidem ipsam ducimus minus magni
                        illum similique veniam tempore unde?
                    </p>
                    <button class="btn post-btn">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <aside id="datasets" class="sidebar">
            <div class="popular-post" id="topPosts">
                <h2>Link to the Datasets</h2>
                <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;Date</span>
                            <span>Size</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Data Lorem ipsum dolor sit amet consectetur</a>
                    </div>
                </div>
                <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;Date</span>
                            <span>Size</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Data Lorem ipsum dolor sit amet consectetur</a>
                    </div>
                </div>
                <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;Date</span>
                            <span>Size</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Data Lorem ipsum dolor sit amet consectetur</a>
                    </div>
                </div>
                <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                    <div class="post-image">
                        <div>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;Date</span>
                            <span>Size</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Data Lorem ipsum dolor sit amet consectetur</a>
                    </div>
                </div>
                <div class="post-content" data-aos="flip-up" data-aos-delay="400">
                    <div class="post-image">
                        <div>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;Date</span>
                            <span>Size</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Data Lorem ipsum dolor sit amet consectetur</a>
                    </div>
                </div>
                <div class="post-content" data-aos="flip-up" data-aos-delay="500">
                    <div class="post-image">
                        <div>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;Date</span>
                            <span>Size</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Data Lorem ipsum dolor sit amet consectetur</a>
                    </div>
                </div>
                <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                    <div class="post-image">
                        <div>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;Date</span>
                            <span>Size</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Data Lorem ipsum dolor sit amet consectetur</a>
                    </div>
                </div>
                <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                    <div class="post-image">
                        <div>
                        </div>
                        <div class="post-info flex-row">
                            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;Date</span>
                            <span>Size</span>
                        </div>
                    </div>
                    <div class="post-title">
                        <a href="#">Data Lorem ipsum dolor sit amet consectetur</a>
                    </div>
                </div>
            </div>

        </aside>
    </div>
</section>



{% endblock %}