{% extends "layout.html" %}{% block title %} Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<!------------------------ Site Title ---------------------->
<section class="site-title">
        <div class="site-background" data-aos="fade-up" data-aos-delay="100">
            <h3>Team SUS</h3>
            <h1>Adverse Effects of Alcohol</h1>
            <button class="btn"><a href="ML">Try it out!</a></button>
        </div>
    </section>
<!------------x----------- Site Title ----------x----------->

<!-- ADD A SECTION AS TO WHY WE CHOSE THE PROJECT PROBLEM STATEMENT WAGAIRA -PPT SE LELENA -->

{% endblock %}